.input{
    padding: 15px 20px;
    width: 100%;
    /* background: var(--bg-7); */
    border: 2px solid var(--bg-3);
    border-radius: 10px;
}
.label{
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 200%;
}

.container{
    height: calc(100dvh - 100px);
    display: grid;
    place-items: center;
}

.formContainer{
    width: 85dvw;
    border: 2px solid var(--bg-1);
    background: var(--bg-7);
    /* box-shadow: 0px 0px 40px 5px #022c44; */
    border-radius: 15px;
    padding: 40px 20px;
    max-width: 550px;
}
.slogan{
    opacity: 0.9;
    margin-bottom: 50px;
}

.button{
    padding: 15px 30px;
    border-radius: 10px;
    background: var(--bg-1);
    border: none;
    margin-top: 30px;
    width: 100%;
    cursor: pointer;
}

.link{
    color: #00b7ff;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}