.checkOutDetails{
  margin: 20px;
  height: calc(100dvh - 150px);
  display: flex;
  align-items: center;
  max-width: 600px;
  /* place-items: center; */
  /* background: rgba(255, 0, 0, 0.265); */
}

.map{
  border-radius: 10px;
}

.header{
  font-weight: 500;
  margin-bottom: 20px;
}

.introArea{ 
  display: flex;
  justify-content: space-around;
}

.settings{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  justify-content: space-evenly;
}

.teamMode{
  font-size: 110%;
  margin-bottom: 3px;
}

.adminTemplate{
  font-size: 70%;
  opacity: 0.8;
  letter-spacing: 2px;
}



.winners{
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  margin-top: 60px;
}
.winner-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.winner-gold-section{
  margin-top: -15px;
}
.winner-trophy-img{
  width: 60px;
  margin-left: -7px;
}
.winning-prize{
  font-weight: 600;
  font-size: 160%;
}



.teamSection{
  padding: 10px 10px 0;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid var(--bg-8);
}
.teamTemplate{
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}
.memberCount{
  font-weight: 700;
  font-size: 70%;
  margin-left: 5px;
  /* color: green; */
  color: #039dda;
  /* color: red; */
}
.members{
  /* background: var(--bg-8); */
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 4, 1fr;
}
.member{
  background: #0e1012;
  padding: 10px;
  font-size: 80%;
  border-radius: 5px;
}

.joinBtn{
  margin-top: -10px;
}
.joinBtn button{
  border: none;
  background: #0186ba;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  border-radius: 100px;
  font-weight: 700;
  border: 3px solid #04a1df;
}

.joinBtn button:disabled, .disableJoinBtn{
  opacity: 0.7;
}

.friendState{
  height: calc(100dvh - 20px);
  width: calc(100dvw - 20px);
  position: fixed;
  top: 120dvh;
  transition: all 0.3s ease-in-out;
  left: 10px;
  border-radius: 20px;
  background: var(--bg-9);
  /* background: red; */
  /* scale: 0; */
}

.activeFriendState{
  /* scale: 1; */
  top: 10px;
}

.finalCheckOut{
  position: fixed;
  top: 20dvh;
  scale: 0;
  transition: all 0.3s ease-in-out;
}
.activeFinalCheckout{
  scale: 1;
}

@media screen and (min-width: 580px) {
  .checkOutDetails{
    /* border: 3px solid var(--bg-7); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--bg-2);
    margin: auto;
  }
}

.selfMemberTemplate{
  color: #04a1df;
  font-weight: 700;
  float: right;
  margin-right: 20px;
  font-size: 80%;
}


.redTeam{
  color: red !important;
}
