.guideContainer {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    color: #eee;
    background-color: var(--bg-10);
  }
  
  .heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .description {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #ccc;
  }
  
  .guideList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .guideCard {
    background-color: var(--bg-8);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    padding: 30px;
    flex: 1 1 calc(33.333% - 40px);
    /* min-width: 280px;
    max-width: 400px; */
    transition: transform 0.2s, box-shadow 0.2s;
    color: #ddd;
  }
  
  .guideCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  }
  
  
  .guideTitle {
    font-size: 1.8rem;
    margin-bottom: 0.8em;
    color: #fafafa;
  }
  
  .guideContent {
    font-size: 1rem;
    line-height: 1.6;
    color: #bbb;
  }
  
  @media (max-width: 768px) {
    .guideCard {
      flex: 1 1 calc(50% - 30px);
    }
  
    .heading {
      font-size: 2.5rem;
    }
  
    .description {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 480px) {
    .guideCard {
      flex: 1 1 100%;
    }
  
    .heading {
      font-size: 2rem;
    }
  
    .description {
      font-size: 1rem;
    }
  }
  