/* components/Numpad.module.css */

.numpadContainer {
  position: fixed;
  bottom: 0;
  width: calc(100dvw - 24px);
  /* background-color: #333; */
  padding: 10px 5px;
  border-radius: 10px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display {
  color: #fff;
  /* text-align: center; */
  margin-bottom: 10px;
  border: none;
  width: fit-content;
  border-radius: 5px;
  outline: none;
  caret-color: white;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for numpad layout */
  gap: 10px;
  width: 100%;
}

.numButton, .deleteButton, .clearButton {
  background-color: #444;
  background-color: var(--bg-7);
  color: #fff;
  font-size: 18px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.numButton:hover, .deleteButton:hover {
  background-color: #555;
  background-color: var(--bg-8);
}

.deleteButton {
  /* background-color: #e74c3c; Red for delete button */
}

.clearButton {
  font-weight: 700;
  margin-top: 10px;
  opacity: 0.3;
  width: 100%;
  background-color: #e74c3c;
  background: #0295cf;
}
.addMoneyBtnActive{
  opacity: 1;
  background-color: #e74c3c;
  background: #0295cf;
}



.withDrawBtn{
  color: #0ba7e5 !important;
  border: 2px solid #0ba7e5;
  background: #0ba7e524 !important;
}