.signupPage {
    max-width: 400px;
    border-radius: 15px;
    width: 85dvw;
    background: var(--bg-7);
    border: 2px solid var(--bg-1);
    padding: 70px 40px;
    position: relative;
  }
  
  .title{
    font-weight: 700;
    font-size: 200%;
    margin-bottom: 40px;
  }
  
  .titleLong{
    font-weight: 700;
    font-size: 200%;
    margin-bottom: 40px;
  }
  
  .backButton{
    margin-left: 10px;
    margin-top: 20px;
    color: #03adea;
    display: flex;
    align-items: flex-start;
    text-decoration: underline;
  }
  .button {
    padding: 15px 15px;
    outline: none;
    background: none;
    background: var(--bg-3);
    border: none;
    border-radius: 15px;
    color: inherit;
    float: right;
    width: 100%;
    margin-top: 40px;
  }
  
  .button:hover {
    background-color: var(--bg-1);
  }
  
  .button + .button {
    margin-left: 10px;
  }
  
  .loginLink{
    font-size: 90%;
    margin-top: 110px;
    text-align: center;
  }
  .loginLink a{
    font-size: 90%;
    margin-top: 20px;
    color: #03adea;
  }

  
  @media screen and (min-width: 700px) {
    .signupPage{
      max-width: 600px;
    }
    .formGroup{
      max-width: 560px;
    }
  }


























.inputContainer{
  /* margin: 10px 10px 20px 10px; */
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.inputContainer input{
  border: none;
  margin-left: 10px;
  color: #d5dbe0;
  width: 100%;
  padding: 0 0 4px 4px;
  border-bottom: 2px solid #2f4f4f67;
}

.pacChekerCorrect, .pacChekerFail{
  font-size: 60%;
  margin-top: 10px;
}
.pacChekerCorrect{
  color: rgb(4, 218, 4);
}
.pacChekerFail{
  color: red;
}
